.AddressModal {
  top: 20% !important;
}
.locationSearchList {
  list-style: none;
}

.locationSearchList li::before {
  margin-right: 10px;
  content: "📍"; /* Add your location symbol here */
}

.MuiBox-root.css-98zw23 {
  border: none;
  border-radius: 10px;
  padding: 15px 15px 15px 15px;
  max-width: 80%;
}
.Close-btn {
  padding: 0px;
}
.Clear-Address {
  margin-right: 10px !important;
  padding: 4px !important;
}

.SelectedCity.css-b62m3t-container {
  width: 100% !important;
  padding: 0px;
}

@media (min-width: 360px) and (max-width: 740px) {
  .Responsive-Address {
    position: fixed; /* Change from absolute to fixed for screen centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    max-width: 80%; /* Set a maximum width for responsiveness */
    background-color: #fff;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1); /* Adjust box-shadow values */
    padding: 16px; /* Adjust padding for content inside the pop-up */
    border: 2px solid #fff;
  }

  .text-lg-align{
    text-align: left;
  }

}

