.sm-logo {
  background-color: white;
  padding: 20px 15px 31px 15px;
  /* border-bottom: 2px solid #02a499 !important; */
  top: 25px;
  border-radius: 91%;
}
.bg-backColor {
  background-color: #626ed4 !important ;
}

.icon-home {
  padding: 0px;
  color: #fff;
  font-size: 20px;
}
.home-btn {
  position: absolute;
  top: 15px;
  right: 25px;
}
.display-home-btn {
  display: flex;
  justify-content: center;
  font-size: 24px;
}
@media screen and (max-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
}

.link-expired{
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}