.active>.page-link, .page-link.active {
    background-color:#5a2eca !important;
    border-color:#5a2eca !important;
}
.active>.page-link, .page-link.active {
    color:white !important;
}
/* .pagination{
    color: green !important;
} */
.page-link{
    color: #5a2eca !important;
}