.background {
  background: #02a499;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  border: none;
  width: 100px;
}


.margin {
  margin-right: 7px;
  margin-top: -4px;
}

.font-size-1 {
  font-size: 1rem;
  font-weight: 600;
}

.font-size-hr {
  font-size: 2rem;
  color: #aaa;
}

.background-1 {
  background: #f8b425;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  border: none;
  width: 100px;
}

.margin-right {
  margin-right: 0.1rem;
}

.padding {
  padding: 2px;
}

.client-font {
  font-size: 14px;
  color: #6c757d;
}

.li-center {
  display: flex;
  align-items: center;
}

.fw-500 {
  font-weight: 500;
}

.pdfIframe {
  width: 100%;
  height: 100vh;
}

.title-font-size {
  font-size: 1.5rem;
}

.font-style {
  margin-right: 4px;
  font-size: 14px;
  font-weight: 500;
}

.font-16 {
  font-weight: 500;
  font-size: 16px;
  color: gray !important;
}

.font-19 {
  font-size: 18px !important;
  font-weight: 500;
  color: #fff !important;
  background-color: #343a40 !important;
}

.flex-direction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-13 {
  font-size: 13px;
}

.label-color {
  color: #6c757d;
}

.select-service-table tbody td > div:first-of-type label {
  font-size: 100%;
  font-weight: 500;
  color: #5b626b;
}

.font-15 {
  font-size: 12px !important;
}

.proposals-font {
  font-size: 12px !important;
  padding: 6px !important;
}

.edit button {
  padding: 2px 6px;
}

.remove button {
  padding: 2px 6px;
}

.font-600 {
  font-size: 1rem;
  font-weight: 600;
  color: #5b626b !important;
}

.margin-left {
  margin-left: 3px;
  font-weight: 600;
}

.font-17 {
  font-size: 17px;
  color: #fff !important;
  background-color: #343a40 !important;
}

.proposal-content {
  margin-top: calc(25px + 21px);
  padding: 68px 0;
}

.packaged-pricing-original-price {
  text-decoration: line-through;
  font-size: 14px;
  margin-right: 8px;
  color: #5b626b;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.packaged-pricing-default-price {
  font-size: 14px;
  color: #5b626b;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.date-picker-proposal {
  margin-top: 4px;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 0.5px 4px !important;
  padding-right: 0;
}

.head-grey-row {
  background-color: #888 !important;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .proposal-content {
    margin-top: calc(25px + 21px);
    padding: 40px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .proposal-content {
    margin-top: calc(25px + 21px);
    padding: 40px 0;
  }
}

@media only screen and (max-width: 1040px) {
  .proposal-content {
    margin-top: calc(25px + 21px);
    padding: 36px 0;
  }
}

@media (min-width: 992px) {
  #desktop-buttons {
    margin-left: 213px;
  }
}
.Height_View_scroll {
  height: 60vh;
  overflow-x: auto;
}

.default-style {
  padding: 10px;
}

/* Override styles for mobile screens */
.mobile-style {
  padding: 0px;
}
/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropdown-btn {
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
  color: #333;
  padding: 8px 12px;
  z-index: 99999;
}

/* Dropdown content (hidden by default) */
.dropdown-menu {
  display: none;
  position: absolute;
  left: 0; /* Align to the right */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 99999;
}

/* Dropdown item links */
.dropdown-menu a {
  cursor: pointer;
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

/* Hover effect for dropdown items */
.dropdown-menu a:hover {
  background-color: #f1f1f1;
}
